@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
/* shared styles */
*{
    font-family: 'Poppins', sans-serif;
}
.txt-primary{
    color: #FD6E0A;
}

.primary-btn{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding: 15px 35px;
}

.section-titles{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.banner-discription{
    color: #181818;
    text-align: left;
    font-size: 18px;
}

/*nav related styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0%;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-left: 5%;
}

nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    text-decoration: none;
    margin-right: 50px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */

.header{
    background-color: #fff8f3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0 150px ;
    display: flex;
    align-content: center;
}

.banner-content{
    max-width: 600px;
}

.banner .profile-pic{
    width: 500px;
}
.banner-greetings{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 30px;
}
.banner-discription{
    margin-bottom: 40px;
    margin-top: 20px;
}

/* main section styles stars */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}
/* about section */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin: 130px 0;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}

#wid{
    padding: 30px 150px;
}

/* skill styles */
.skill-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 60px 0 rgba(0 , 0 ,0 ,0.06);
}

.skill-description{
   color: #757575;

}
/* rresume section */

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-descriptopn{
    color: #757575;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;

}
.downloadcv{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
/* wid finished */
/* footer style */
footer{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 130px 150px;
    margin-top: 100px;
}

.footer-column{
    width: 50%;
}

.social-links{
    margin-right: 25px;
}

.contact input[type="text"],.contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    border: none;

}
